<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>library</title>
    <style>
        .grid {
            margin: auto;
            margin-top: 100px;
            width: 500px;
            text-align: center;
        }
        
        .grid .book {
            padding-bottom: 10px;
            padding-top: 5px;
            background-color: pink;
        }
        
        .grid table {
            width: 100%;
            border-collapse: collapse;
        }
        
        .grid th,
        td {
            padding: 10px;
            border: 1px dashed orange;
            height: 35px;
            line-height: 35px;
        }
        
        .grid th {
            background-color: pink;
        }
        
        .grid .total {
            background-color: pink;
            height: 30px;
            line-height: 30px;
            border-top: 1px solid white
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="grid">
            <div>
                <h1>图书管理</h1>
                <div class="book">
                    <div>
                        <label for="id">
                            编号:
                        </label>
                        <input type="text" id="id" v-model="id" :disabled="flag" v-focus>
                        <label for="name">
                            名称:
                        </label>
                        <input type="text" id="name" v-model="name">
                        <button @click="submitHandler" :disabled="submitFlag">提交</button>
                    </div>
                </div>
            </div>
            <div class="total">
                <span>图书总数:</span>
                <span>{{total}}</span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>名称</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in books" :key="item.id">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <!-- <td>{{item.data|format('yyyy-MM-dd')}}</td> -->
                        <td>{{item.date | format('yyyy-MM-dd hh:mm:ss')}}</td>

                        <td>
                            <a href="" @click.prevent="toEdit(item.id)">修改</a>
                            <span>|</span>
                            <a href="" @click.prevent="toDelete(item.id)">删除</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- <script src="vue.js"></script> -->
    <script>
        Vue.directive('focus', {
            inserted: function(el) {
                //el表示指令所绑定的元素
                el.focus()
            }
        })
        Vue.filter('format', function(value, arg) {
            function dateFormat(date, format) {
                if (typeof date === "string") {
                    var mts = date.match(/(\/Date\((\d+)\)\/)/);
                    if (mts && mts.length >= 3) {
                        date = parseInt(mts[2]);
                    }
                }
                date = new Date(date);
                if (!date || date.toUTCString() == "Invalid Date") {
                    return "";
                }
                var map = {
                    "M": date.getMonth() + 1, //月份 
                    "d": date.getDate(), //日 
                    "h": date.getHours(), //小时 
                    "m": date.getMinutes(), //分 
                    "s": date.getSeconds(), //秒 
                    "q": Math.floor((date.getMonth() + 3) / 3), //季度 
                    "S": date.getMilliseconds() //毫秒 
                };
                format = format.replace(/([yMdhmsqS])+/g, function(all, t) {
                    var v = map[t];
                    if (v !== undefined) {
                        if (all.length > 1) {
                            v = '0' + v;
                            v = v.substr(v.length - 2);
                        }
                        return v;
                    } else if (t === 'y') {
                        return (date.getFullYear() + '').substr(4 - all.length);
                    }
                    return all;
                });
                return format;
            }
            return dateFormat(value, arg);
        })
        var vm = new Vue({
            el: '#app',
            data: {
                submitFlag: false,
                flag: false,
                id: '',
                name: '',
                books: [{
                    id: 1,
                    name: '三国演义',
                    data: '2525609975000'
                }, {
                    id: 2,
                    name: '水浒传',
                    data: '2525609975000'
                }, {
                    id: 3,
                    name: '红楼梦',
                    data: '2525609975000'
                }, {
                    id: 4,
                    name: '西游记',
                    data: '2525609975000'
                }]
            },
            methods: {
                submitHandler: function() {
                    if (this.flag) {
                        this.books.some(item => {
                            if (item.id == this.id) {
                                item.name = this.name
                                return true
                            }
                            this.flag = true
                        })
                        flag = true
                    } else {
                        let book = {}
                        book.id = this.id;
                        book.name = this.name
                        this.books.push(book)
                        this.id = ''
                        this.name = ''
                    }
                    this.id = ''
                    this.name = ''

                },
                toEdit: function(id) {
                    this.flag = true
                    let book = this.books.filter((item) => {
                        return item.id == id
                    })
                    console.log(book);
                    this.id = book[0].id
                    this.name = book[0].name
                },
                toDelete: function(id) {
                    // this.books = this.books.filter(item => {
                    //     return item.id != id
                    // })
                    let index = this.books.findIndex(item => {
                        return item.id = id
                    })
                    this.books.splice(index, 1)
                }

            },
            computed: {
                total: function() {
                    return this.books.length
                }

            },
            watch: {
                name: function(val) {
                    var flag = this.books.some(function(item) {
                        return item.name == val;
                    });
                    if (flag) {
                        this.submitFlag = true;
                    } else {
                        this.submitFlag = false;
                    }
                }
            },
            mounted: function() {
                var data = [{
                    id: 1,
                    name: '三国演义',
                    date: 2525609975000
                }, {
                    id: 2,
                    name: '水浒传',
                    date: 2525609975000
                }, {
                    id: 3,
                    name: '红楼梦',
                    date: 2525609975000
                }, {
                    id: 4,
                    name: '西游记',
                    date: 2525609975000
                }];
                this.books = data;
            }
        })
    </script>
</body>

</html>